body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.6;
}
.dom-section {
  border: 1px solid #aaa;
  padding: 15px;
  margin-top: 20px;
}
.action {
  margin-right: 5px;
}

h1 {
  margin: 0;
}

h1:first-child {
  text-align: center;
}

h1:nth-child(2),
h1:nth-child(3) {
  text-align: end;
}
